POSTGRES_DB=cloudsimlab
POSTGRES_USER=cloudsimlab
POSTGRES_PASSWORD=cloudsimlab
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/cloudsimlab
SPRING_DATASOURCE_USERNAME=cloudsimlab
SPRING_DATASOURCE_PASSWORD=cloudsimlab
